<td class='UserBox'>
  <div id='Msg%ID%UserLogin' class='UserName'></div>
  <div id='Msg%ID%UserGroup' class='UserGroup' style='display:none'></div>
</td>
<td id='Msg%ID%MsgBox' class='MsgBox'>
  <div class='Header'>
    <span id='Msg%ID%CreateTimestamp' class='Timestamp'></span>
    
    <span id='Msg%ID%Controls' style='float:right'></span>
  </div>
  <div id='Msg%ID%TextContainer'>
    <div id='Msg%ID%Text' class='Text'></div>
    <div id='Msg%ID%Edit' style='display:none'></div>
  </div>
</td>
